h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}
h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

body {
  background-image: url(../img/eight_horns.png);
}

.header {
  text-align: center;
}
.well {

}

.panel-info > .panel-heading {
  background-color: mediumpurple;
  color: indigo;
}

.portfolio-object {
  height: auto;
}

.portfolio-object img {
  width: 95%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-center {
  text-align: center;
}

h3.panel-title {
  text-align: center;
  font-weight: bold;
}

.background {
  overflow: hidden;
}

.background img {
  width: 400px;
  padding: 5px;
  margin-right: 30px;

}

.education li {
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 410px;
}

.interests h4 {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  font-weight: bold;
}

.interests img {
  width:95%;
  margin: auto;
  display: block;
  text-align: center;

}

.interests p {
  margin: 5px;
}

@media(max-width: 993px) {

.portfolio-object {
  text-align: center;
}

.education li {
    margin-left: 0px;
}

}

@media(max-width: 515px) {

.background img {
  width: 100%;
  margin-right: 25px;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}
