.header {
  text-align: center;
}

.panel-info > .panel-heading {
  background-color: purple;
}

.portfolio-object img {
  width: 95%;
  padding: 10px;
}

h3.panel-title {
  text-align: center;
  font-weight: bold;
}

.background {
  overflow: auto;

}

.background img {
  width: 50%;
  float: left;
}

@media(max-width: 993px) {

.portfolio-object {
  text-align: center;
}


}

@media(max-width: 515px) {

  .background {
    height: 625px;
  }

.background img {
  width: 95%;
  margin-right: 25px;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgcenter {
  text-align: center;
  margin: auto;
}
}
